<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>服务在线列表</title>
</head>
<body>
<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>API列表</h1>
        <p></p>
    </div>
</div>
<div class="container bs-docs-container">
    <table class="table">
        <thead>
        <tr>
            <th>api地址</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key => $val}
        <tr>
            <td>{$val.api}</td>
            <td>{$val.c}</td>
            <td>
                <a class="btn  btn-warning" href="{:url('details', ['api' => $val.api])}">查看详细</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>